body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
}

figure {
    background-color:#2c82de;
    color: white;
    margin: 1%;
    padding: 1%;
    border-radius:5%;
    ;
}

.row{
    justify-content: space-evenly;
}

.low{
    background-color: green;
    padding:1.1%;
    border-radius: 25%;
}
.medium{
    background-color: yellow;
        padding:1.1%;
    border-radius: 25%;
}
.high{
    background-color: red;
        padding:1.1%;
    border-radius: 25%;
}

#userinput{
    width:100px;
}

aside{
    align-content: center;
    justify-content: center;
}

#pastsearch{
    margin:2%;
}

.apirequest{
    margin:1%;
}

P, h5{
    font-weight: bolder;
}